<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{chat.msg}}</title>
</head>

<body>
    {{ chat.author }}
    {{ chat.id }}
    {{ chat.entry }}

    <div id="employees"></div>

    <script>


        // api url
        const api_url = "/chat-msg";

        // Defining async function
        async function getapi(url) {

            // Storing response
            const response = await fetch(url);

            // Storing data in form of JSON
            var data = await response.json();
            console.log(data);
            if (response) {
                hideloader();
            }
            show(data);
        }
        // Calling that async function
        getapi(api_url);

        // Function to hide the loader
        function hideloader() {
            // document.getElementById('loading').style.display = 'none';
        }
        // Function to define innerHTML for HTML table
        function show(data) {
            let tab =
                `<tr>
          <th>author_id:</th>
          <th>chat:</th>
    
         </tr>`;

            // Loop to access all rows 
            for (let r of data) {
                tab += `<tr> 
                    <td>${r.author}</td>
                    <td>${r.chat} </td>       
            </tr>`;
            }
            // Setting innerHTML as tab variable
            document.getElementById("employees").innerHTML = tab;
        }
    </script>
</body>

</html>