<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{chat.msg}}</title>
</head>

<body>

    <style>
        tab {
            display: block;
        }
    </style>
    {{ chat.author }}
    {{ chat.id }}
    {{ chat.entry }}

    <div id="employees"></div>

    <script>
        let tab = document.getElementById("employees")

        // api url
        const api_url = "/chat-msg";

        
            async function getapi(url) {

                // Storing response

                const response = await fetch(url);


                // Storing data in form of JSON
                var data = await response.json();
                console.log(data);
                if (response) {
                    hideloader();
                }
                show(data);
               
            }
            
            // Calling that async function
      setInterval(() => {
        
          getapi(api_url)
    }, 10);
        

        // Function to hide the loader
        function hideloader() {
        }

        function show(data) {

            for (let r of data) {
                if (r.chat == 3) {
                    tab.innerHTML = `${r.message} `
                }
            }
           
        }


    </script>
</body>

</html>